[submodule ".config/sddm-theme-corners"]
	path = .config/sddm-theme-corners
	url = https://github.com/pkleineb/sddm-theme-corners
[submodule ".themes/Nordic"]
	path = .themes/Nordic
	url = https://github.com/EliverLara/Nordic
