layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="horizontal"{
        pane split_direction="vertical" {
            pane command="zsh"{
                args "-c" "nvim" "src/main.rs"
                size "80%"
            }
            pane split_direction="horizontal" {
                cargo {
                    args "check"
                }
                cargo {
                    args "run"
                }
            }
        }
        pane size="15%"
    }
    pane_template name="cargo" {
        command "cargo"
        start_suspended true
    }
}
