* {
    main-bg:            #1A1B26E6;
    main-fg:            #C482AF;
    main-br:            #4E5173;
    main-ex:            #5F6065;
    select-bg:          #838B9B;
    select-fg:          #E5E4D9;
}
